<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if (session.user_profile) {%>
  <script type="text/javascript" src="http://localhost:3080/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="processing-1.3.6.js"></script>
  <script type="text/javascript">
    var myname = '<%= session.user_profile.screen_name %>';
  </script>
  <script type="text/javascript" src="script.js"></script>
  <% } %>
  <title>TwitRelation</title>
</head>
<body>
  <% if (session.user_profile) {%>
  <p>Welcome, <%= session.user_profile.screen_name %> </p>
  <input type="button" id="analysis" value="analysis"/><br>
  <canvas width="1000" height="500"></canvas>
  <% } %>
  <% if (!session.user_profile) { %>
  <a href="/auth/twitter">Sign in</a>
  <% } %>
</body>
</html>
